.home {
   width: 100%;
   height: 100%;
}
.home__carusel {
   width: 1110px;
   height: 355px;
   background-color: rgb(255, 255, 184);
   margin: 50px auto 50px;
}
.home__navigation {
   width: 1110px;
   display: flex;
   justify-content: space-between;

   margin: 0 auto 75px;
}
.home__navigation-block {
    width: 548px;
    height: 175px;
   background-color: rgb(255, 255, 184);
}
.home__products-recommendations{
   width: 1110px;
   margin: 0 auto;
}
