.home {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .home__carusel img {
        width: 100%;
        margin: 20px 0 50px;
        display: flex;
        justify-content: center;
    }
    .home__products-recommendations {
        width: 100%;
        margin: 0 auto;
    }
    @media (max-width: 1180px) {
        & {
            max-width: 90%;
            height: 100%;
        }
    }
    @media (max-width: 780px) {
        & {
            .home__carusel img {
                margin-top: -30px;
            }
        }
    }
    @media (max-width: 430px) {
        & {
            max-width: 100%;
            height: 100%;
            .home__carusel img {
                display: none;
            }
        }
    }
}
