.product {
  width: 202px;
  height: 366px;
  margin: 10px;
}
.product .product__handler {
  height: 280px;
}
.product .product__handler .product__image {
  width: 202px;
  height: 202px;
  border-radius: 24px;
}
.product .product__handler .product__name {
  height: 20%;
  font-size: 14px;
  color: #4f4f4f;
  margin: 10px 0 0 0;
}
.product .product__buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.product .product__buy .product__price-for-one {
  font-size: 14px;
  color: #bdbdbd;
}
.product .product__buy .product__price {
  font-size: 16px;
  color: #4f4f4f;
  font-weight: 800;
}
.product .product__buy-btn {
  width: 39px;
  height: 39px;
  font-size: 20px;
  border: none;
  background-color: #53c95a;
  border-radius: 8px;
  color: #fff;
}
.product .product__buy-btn:hover {
  background-color: #77e67e;
  -webkit-transition: 0.08s;
  transition: 0.08s;
}
.product .product__message {
  color: #53c95a;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
@media (max-width: 1240px) {
  .product {
    width: 162px;
    height: 326px;
    margin: 0 15px;
  }
  .product .product__handler {
    height: 230px;
  }
  .product .product__handler .product__image {
    width: 162px;
    height: 162px;
    border-radius: 24px;
  }
}
@media (max-width: 1100px) {
  .product {
    width: 142px;
    height: 306px;
    margin: 0 15px;
  }
  .product .product__handler {
    height: 210px;
  }
  .product .product__handler .product__image {
    width: 142px;
    height: 142px;
    border-radius: 24px;
  }
}
@media (max-width: 810px) {
  .product {
    width: 122px;
    height: 286px;
    margin: 0 15px;
  }
  .product .product__handler {
    height: 190px;
  }
  .product .product__handler .product__image {
    width: 122px;
    height: 122px;
    border-radius: 24px;
  }
  .product .product__handler .product__name {
    font-size: 13px;
  }
  .product .product__buy .product__price-for-one {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .product .product__buy .product__price {
    font-size: 14px;
  }
}
@media (max-width: 430px) {
  .product {
    width: 97px;
    height: 216px;
    margin: 0 5px;
  }
  .product .product__handler {
    height: 155px;
  }
  .product .product__handler .product__image {
    width: 97px;
    height: 97px;
    border-radius: 12px;
  }
  .product .product__buy-btn {
    width: 25px;
    height: 25px;
    font-size: 16px;
    border-radius: 5px;
  }
}