.catalods {
    max-width: 100%;
    margin: 50px auto;
    .catalogs__title {
        margin: 0 0 20px 15px;
    }
    .catalogs__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
