.catalods {
  width: 1110px;
  margin: 50px auto;
}

.catalogs__title {
  margin: 0 0 20px;
}

.catalogs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}