.authorization {
   width: 520px;
   min-height: 530px;
   margin: 150px auto;
   padding: 10px;
   border-radius: 12px;
   box-shadow: 2px 2px 10px rgb(187, 187, 187);
}
.authorization__body {
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
.authorization__body img {
   width: 150px;
   margin: 0 0 30px;
}
.authorization__title {
   margin-bottom: 10px;
   /* text-align: center; */
   font-size: 26px;
   color: #4f4f4f;
}
.authorization__title span {
   color: #53c95a;
}
.authorization__subtitle {
   /* text-align: center; */
   margin-bottom: 30px;
   font-size: 16px;
   color: rgb(159, 159, 159);
}
.offscreen {
   position: absolute;
   left: -9999px;
}
.errmsg {
   background-color: lightpink;
   color: firebrick;
   font-weight: bold;
   padding: 0.5rem;
   margin-bottom: 0.5rem;
}
.authorization__form {
   width: 70%;
   display: flex;
   flex-direction: column;
}
.block__input {
   display: flex;
   align-items: center;
}
.authorization__input {
   width: 95%;
   padding: 10px;
   margin: 10px 0;

   border: 1px solid rgb(204, 204, 204);
   border-radius: 6px;
   box-shadow: 5px 5px 5px rgb(204, 204, 204);
}
.authorization__input::placeholder {
   font-weight: 500;
   font-size: 17px;
   color: rgb(159, 159, 159);
}
.authorization__input:focus {
   border: 1px solid #53c95a;
   outline: none;
}
.authorization__to-registration {
   margin-bottom: 10px;
   font-size: 16px;
   color: #747474;
}
.authorization__button {
   width: 70%;
   padding: 12px 24px;
   margin: 30px auto 50px;

   border-radius: 30px;
   border: none;

   color: #fff;
   font-size: 18px;
   font-weight: 600;
}
.active {
   background-color: #53c95a;
}
.active:hover {
   background-color: #5ce965;
   transition: 0.2s;
}
.disabled {
   background-color: #91cc95;
}
.link {
   font-weight: 600;
   font-size: 18px;
   color: #53c95a;
}
.success-message {
   width: 390px;
   min-height: 270px;
   margin: 200px auto;
   padding: 10px;
   border-radius: 12px;
   box-shadow: 2px 2px 10px rgb(187, 187, 187);
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}












