.products-list {
  max-width: 100%;
  max-height: 416px;
  min-width: 280px;
  margin: 0 0 50px;
  overflow: hidden;
}
.products-list .products-list__title {
  margin: 0 0 30px 20px;
}
.products-list .products-list__cards {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
@media (max-width: 1240px) {
  .products-list {
    max-height: 356px;
    padding: 10px;
  }
}
@media (max-width: 800px) {
  .products-list {
    max-height: 100%;
  }
  .products-list .products-list__title {
    font-size: 19px;
  }
}