.modal {
   width: 930px;
   height: 460px;
   display: none;
   position: absolute;
   top: 100%;
   left: 0;
   background-color: #fff;
   padding: 10px;
   border: 1px solid #ccc;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: opacity 0.3s ease-in-out;
}

.modal.visible {
   display: block;
   opacity: 1;
   /* margin-top: 15px; */
}
.categories{
    display: flex;

}
.categories__names {
    border-right: 1px solid rgb(190, 190, 190);
}
.categories__list {
}
.category {
   display: flex;
   align-items: center;
   margin: 20px 5px;
}
.categories__link{
    color: #333333;
    font-weight: 600;
    letter-spacing: 0.4px;
}
.categories__link:hover{
    color: #53c95a;
    transition: 0.1s;
}
.subcategories__names {
    width: 670px;
}
.subcategorues__list {
    display: flex;
}
.subcategory {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px;
    color: #333333;
}
